// Body background color
$bodyBackgroundColor: #f1f2f6;

// Colors 
$color1: #34e7e4;
$color2: #3742fa;
$color3: #ff4757;
$color4: #34e7e44d;
$color5: #3741fa2a;
$color6: #ff475623;
$color7: #130f40;
$color8: #0be881;
$color9: #0be88167;
$color10: #130f4041;
$effectuees: #2f3542;

// rgba Background 
$shadow: rgba(0, 0, 0, 0.1);
$shadow2: rgba(0, 0, 0, .7);


// Pages Colors 
$effectueesbg : #0be88167;
$important : #ffcccc;
$tout : #1e90ff;
$supprimer : #ff6b81;

// Settings
$settingsColor: #252836;
$settings2: #216FED;
$settings2Deg: #377DEF;
$settings2Deg2: #377def5b;
$settings3: #525298;
$asideSettings: #1F1D2B;